version: '3'

services:

##
#  mongodb:
#    image: mongo:latest
#    hostname: mongo
#    ports:
#      - "27016:27016"

  road-rating:
    build: .
    image: road-rating:latest
    ports:
      - "8181:8181"
#    depends_on:
#      - mongodb